@import url('https://fonts.googleapis.com/css?family=Audiowide');

@font-face {
	font-family: "Digital";
	src: url("./digital-7.ttf");
}

body {
	background: url("https://img3.goodfon.ru/original/1920x1080/a/be/mlechnyy-put-zvezdy-noch-2102.jpg");
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
	color: white;
	font-family: 'Audiowide', cursive;
}

.calculator{
	margin-top: 50px;
}

#display {
  border: 2px solid white;
	background-color: #cc66ff;
	color: white;
	font-family: 'Digital';
	font-size: 20px;
	padding: 5px;
	width: 250px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.formulaScreen {
  border: 2px solid white;
  padding: 10px;
  background-color:black;
  margin-left: auto;
	margin-right: auto;
  width: 250px;
	height: 100px;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
  font-family: digital;
  font-size: 30px;
  color: orange;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word; 
}

#buttons {
  border: 2px solid white;
	background-color: blueviolet;
	width: 250px;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

button {
	margin: 2px;
	width: 40px;
	height: 40px;
	margin-top: 10px;
}

#clear {
	width: 170px;
}
